/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    color: #385c87;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1080px;
    width: auto;
    background-image: url("../img/restaurant3f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    background-color: #cfdfe8;
}

.navList {
    display: flex;
}

.navListings {
    padding: 20px;
    background-color: #ded99e;
    font-family: 'Maitree';
    font-family: 'Offside';
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 95%;
    height: 80%;
    backdrop-filter: blur(5px);
    border: 4px solid #2B3937;
    border-bottom: none;
    border-radius: 5px 5px 0  0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 1 / span 2;
    padding: 10px;
    margin: 10px;
    background-color: #cfdfe8;
    border-radius: 5px;
}

main > * {
    padding: 10px;
}

#infoMain {
    grid-column: 1 / span 3;
}


#quoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    margin: 10px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

#sisig {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    margin: 10px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

#pandesal {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

aside>img {
    height: 100%;
    min-height: 30%;
    max-height: 100%;
    min-width: 30%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

#pandesal>img {
    height: 70%;
    min-height: 30%;
    max-height: 100%;
    min-width: 30%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

#socialNav {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

footer {
    grid-column: 2 / span 2;
    padding: 50px;
    margin: 10px;
    background-color: #cfdfe8;
    border-radius: 5px;
    align-self: flex-start;
}

.fa {
    font-weight: 900;
}

.fa-yelp:before {
    font-size: 80px;
    padding: 20px;
    padding-left: 40px;
    color: #cfdfe8;
    background-color: #4b7bb6;
    border: 2px solid #4b7bb6;
    border-radius: 100%;
}

.fa-yelp:before:hover {
    font-size: 80px;
    padding: 20px;
    padding-left: 40px;
    color: #4b7bb6;
    background-color: #cfdfe8;
    border: 2px solid #cfdfe8;
    border-radius: 100%;

}

.fa-twitter:before {
    font-size: 80px;
    padding: 20px;
    color: #cfdfe8;
    background-color: #4b7bb6;
    border: 2px solid #4b7bb6;
    border-radius: 100%;

}

.fa-instagram:before {
    font-size: 80px;
    padding: 20px;
    color: #cfdfe8;
    background-color: #4b7bb6;
    border: 2px solid #4b7bb6;
    border-radius: 100%;

}

.fa-facebook:before {
    font-size: 80px;
    padding: 20px;
    color: #cfdfe8;
    background-color: #4b7bb6;
    border: 2px solid #4b7bb6;
    border-radius: 100%;
}

.fa-spotify:before {
    font-size: 80px;
    padding: 20px;
    color: #cfdfe8;
    background-color: #4b7bb6;
    border: 2px solid #4b7bb6;
    border-radius: 100%;
}

h1 {
    font-size: 2.5em;
    font-family: 'Alegreya Sans SC';
    font-weight: 400;
    font-style: italic;
    padding-left: 5px;
    align-self: center;
}

h3 {
    font-size: 1.5em;
    font-family: 'Offside';
}

p {
    font-family: "Maitree";
}

li {
    padding-top: 10px;
}

a:link {
    color: #4b7bb6;
    font-size: 1.5em;
    font-style: italic;
    text-decoration: #cfdfe8;
}

a:hover {
    color: #75B7AB;
    text-decoration: underline #75B7AB;
}